**/__pycache__/
static/
.vscode/
.cursor/

.env*
**/.env*
!.env.example


*.log
logs/

**celerybeat-schedule**
/static
staticfiles
compare/
/custom-catalog

metadata/
minio_data/
compare/
.idea
**/DS_Store
*.DS_Store
wsgi

**/venv
.venv

Vertex_AI_Creds.json
vertex.json
Vertex.json

.uv-cache
.pytest_cache
.coverage
.ruff_cache

# MyPy
.mypy_cache/
mypy-baseline.txt.backup
# Test outputs
test-reports/
coverage-reports/
test-logs/
htmlcov/

**/dist/**
**/node_modules/**

.claude/

